[submodule "lib/fast_sorted_mask"]
	path = lib/fast_sorted_mask
	url = https://github.com/brycehenson/fast_sorted_mask.git
[submodule "lib/matlab_function_cache"]
	path = lib/matlab_function_cache
	url = https://github.com/brycehenson/matlab_function_cache.git
[submodule "lib/sewm"]
	path = lib/sewm
	url = https://github.com/spicydonkey/sewm.git
[submodule "lib/bootstrap_error"]
	path = lib/bootstrap_error
	url = https://github.com/brycehenson/bootstrap_error.git
[submodule "bin/export_fig"]
	path = bin/export_fig
	url = https://github.com/altmany/export_fig.git
[submodule "bin/errorbarxy"]
	path = bin/errorbarxy
	url = https://github.com/cthissen/errorbarxy.git
[submodule "lib/fast_search_histogram"]
	path = lib/fast_search_histogram
	url = https://github.com/brycehenson/fast_search_histogram.git
[submodule "bin/ciecam02"]
	path = bin/ciecam02
	url = https://github.com/brycehenson/CIECAM02.git
[submodule "bin/MBeautifier"]
	path = bin/MBeautifier
	url = https://github.com/davidvarga/MBeautifier.git
[submodule "lib/lab_structured_logging"]
	path = lib/lab_structured_logging
	url = https://github.com/brycehenson/lab_slog.git
[submodule "lib/matlab_struct_tensor_conversions"]
	path = lib/matlab_struct_tensor_conversions
	url = https://github.com/brycehenson/matlab_struct_tensor_conversions.git
